:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background: #ffd600;
  color: #121212;
}

img {
  max-width: 100%;
  display: block;
}
